:root {
  --color-background: #f8f8f8;
  --color-img-overlay: #f7f7f7;
  --color-header: #ededed;
  --color-toggle: #ededed;
  --color-shadow: #727272;
  --color-footer: #2e2e2e;
  --color-text-icons: #2e2e2e;
  --color-footer-text: #bfbfbf;
  --color-copyright: #858585;
  --color-selection: #9999;
  --color-indicator-clear: #1c7b11;
  --color-indicator-caution: #7b111c;
  --color-mute-unmute: invert(20%);
  --color-mute-unmute-hover: invert(80%); }

:root[data-theme="dark"] {
  --color-background: #434343;
  --color-img-overlay: #d8d8d8;
  --color-header: #2e2e2e;
  --color-toggle: #2e2e2e;
  --color-shadow: #212121;
  --color-footer: #242424;
  --color-text-icons: #d8d8d8;
  --color-footer-text: #989898;
  --color-copyright: #6a6a6a;
  --color-mute-unmute: invert(80%);
  --color-mute-unmute-hover: invert(20%); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 250ms !important;
  transition-delay: 0 !important; }

body {
  font-family: "Josefin Sans", sans-serif;
  line-height: 1.6;
  color: var(--color-text-icons);
  background-color: var(--color-background); }

a {
  color: inherit;
  text-decoration: none; }

::selection {
  background: var(--color-selection); }

.iframe {
  height: 20rem;
  width: 38.7rem;
  border-bottom: 0.5px solid var(--color-secondary-light); }
  @media only screen and (max-width: 72.375em) {
    .iframe {
      width: 30.7rem; } }
  @media only screen and (max-width: 57.5em) {
    .iframe {
      width: 55.7rem;
      height: 30rem; } }
  @media only screen and (max-width: 39.375em) {
    .iframe {
      max-width: 25.7rem;
      height: 15rem; } }

input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden; }

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 4.2rem;
  height: 1.7rem;
  background: var(--color-text-icons);
  float: right;
  border-radius: 100px;
  position: relative; }
  @media only screen and (max-width: 39.375em) {
    label {
      width: 2.8rem;
      height: 1.13rem; } }

label::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 1.1rem;
  height: 1.1rem;
  background: var(--color-toggle);
  border-radius: 90px;
  transition: 0.3s; }
  @media only screen and (max-width: 39.375em) {
    label::after {
      width: 0.73rem;
      height: 0.73rem;
      top: 2px;
      left: 2px; } }

input:checked + label {
  background: var(--color-text-icons); }

input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%); }

label:active:after {
  width: 3.6rem; }
  @media only screen and (max-width: 39.375em) {
    label:active:after {
      width: 2.4rem; } }

.header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  height: 9rem;
  font-family: "Amatic SC", cursive;
  background-color: var(--color-header);
  z-index: 100; }
  .header__toggle {
    position: fixed;
    margin-top: 4rem;
    margin-left: 22rem; }
    @media only screen and (max-width: 39.375em) {
      .header__toggle {
        margin-top: 3rem;
        margin-left: 11rem; } }
  .header__title {
    text-transform: uppercase;
    font-size: 5rem;
    padding: 0.8rem 0 0.8rem 7rem;
    font-weight: 700;
    cursor: pointer; }
    @media only screen and (max-width: 39.375em) {
      .header__title {
        font-size: 3.6rem;
        padding-left: 1rem;
        padding-right: 1.5rem; } }
  .header__social {
    list-style: none;
    display: flex;
    padding-right: 7rem; }
    @media only screen and (max-width: 57.5em) {
      .header__social {
        padding-right: 1rem; } }
    .header__social-item {
      padding: 3rem 2rem;
      transition: filter 0.2s; }
      @media only screen and (max-width: 39.375em) {
        .header__social-item {
          padding: 3rem 0.7rem; } }
    .header__social-item:hover {
      filter: invert(100%); }
    .header__social-icon {
      height: 3rem;
      fill: var(--color-text-icons); }
      @media only screen and (max-width: 39.375em) {
        .header__social-icon {
          height: 1.5rem; } }

.hero {
  position: relative;
  top: 8.5rem;
  height: calc(100vh - 7rem);
  background-image: url("../images/img1.jpg");
  background-color: var(--color-img-overlay);
  background-blend-mode: multiply;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 65.4rem; }
  @media only screen and (max-width: 72.375em) {
    .hero {
      height: 65.4rem; } }
  @media only screen and (max-width: 39.375em) {
    .hero {
      background-size: 30.9rem; } }
  .hero__image {
    height: calc(100vh - 15rem);
    width: 100%; }
    @media only screen and (max-width: 72.375em) {
      .hero__image {
        display: none; } }
  @media only screen and (max-width: 39.375em) {
    .hero {
      height: 30.5rem; } }

.nav__list {
  text-transform: uppercase;
  background-color: var(--color-header);
  list-style: none;
  font-size: 2.3rem;
  height: 14.1rem;
  display: flex;
  justify-content: center;
  clip-path: polygon(0 0%, 255% 0, 0 100%, 0 0); }
  @media only screen and (max-width: 39.375em) {
    .nav__list {
      position: relative;
      top: 8.5rem; } }
  @media only screen and (max-width: 39.375em) {
    .nav__list {
      font-size: 1.2rem;
      clip-path: polygon(0 0%, 255% 0, 0 40%, 0 0); } }
  .nav__list-sticky {
    position: fixed;
    top: 8rem;
    width: 100%; }
    @media only screen and (max-width: 39.375em) {
      .nav__list-sticky {
        top: 0rem; } }
  .nav__list-sticky + .section {
    margin-top: 14rem; }
  .nav__list-item {
    padding: 2rem 3rem;
    transition: filter 0.2s;
    cursor: pointer; }
    @media only screen and (max-width: 39.375em) {
      .nav__list-item {
        padding: 1rem; } }
  .nav__list-item:hover {
    filter: invert(100%); }
  .nav__list--sound {
    position: relative;
    right: 18rem;
    top: 2.2rem;
    cursor: pointer;
    filter: var(--color-mute-unmute);
    z-index: 100;
    transition: filter 0.2s; }
    .nav__list--sound:hover {
      filter: var(--color-mute-unmute-hover); }
    .nav__list--sound img {
      width: 2.8rem; }
    @media only screen and (max-width: 72.375em) {
      .nav__list--sound {
        display: none; } }
  .nav__list--sound-on {
    display: none; }

.section {
  font-size: 3.5rem;
  text-align: center; }
  @media only screen and (max-width: 48em) {
    .section {
      font-size: 3rem; } }
  @media only screen and (max-width: 39.375em) {
    .section {
      font-size: 2.5rem; } }
  .section__title {
    text-transform: uppercase; }
    .section__title::before {
      content: "";
      display: block;
      width: 70%;
      margin: -5rem auto 10rem auto;
      border-bottom: 0.5px solid var(--color-copyright); }
  .section__content {
    justify-content: center;
    margin: 1rem 0rem 14rem 0rem;
    display: flex;
    flex-wrap: wrap; }
    .section__content-wrapper {
      justify-content: space-evenly;
      display: flex;
      flex-wrap: wrap; }
      @media only screen and (min-width: 120em) {
        .section__content-wrapper {
          max-width: 45vw; } }
      @media only screen and (max-width: 120em) {
        .section__content-wrapper {
          max-width: 60vw; } }
      @media only screen and (max-width: 95.25em) {
        .section__content-wrapper {
          max-width: 70vw; } }
    @media only screen and (max-width: 57.5em) {
      .section__content {
        flex-direction: column;
        align-items: center; } }
    .section__content-card {
      max-width: 38.7rem;
      max-height: 46.8rem;
      margin: 6rem 2rem;
      font-size: 1.8rem;
      box-shadow: 0 1.5rem 4rem var(--color-shadow, 0.15);
      transition: transform 0.3s;
      flex-direction: column; }
      @media only screen and (max-width: 39.375em) {
        .section__content-card:last-child {
          margin-bottom: 7rem; } }
      @media only screen and (max-width: 72.375em) {
        .section__content-card {
          max-width: 30.7rem;
          margin: 6rem 4rem; } }
      @media only screen and (max-width: 57.5em) {
        .section__content-card {
          margin: 2rem;
          max-width: 55.7rem; } }
      @media only screen and (max-width: 39.375em) {
        .section__content-card {
          max-width: 25.7rem;
          max-height: 40rem;
          font-size: 1.3rem; } }
    .section__content-card:hover {
      transform: translateY(-1.5rem) scale(1.03); }
      @media only screen and (max-width: 72.375em) {
        .section__content-card:hover {
          transform: none; } }
  .section__text {
    text-align: left;
    font-family: "Josefin Sans", sans-serif;
    font-size: 2.5rem;
    padding: 0 26rem 0 26rem; }
    @media only screen and (max-width: 72.375em) {
      .section__text {
        padding: 0 16rem 0 16rem; } }
    @media only screen and (max-width: 57.5em) {
      .section__text {
        padding: 0 13rem 0 13rem; } }
    @media only screen and (max-width: 48em) {
      .section__text {
        font-size: 2rem; } }
    @media only screen and (max-width: 39.375em) {
      .section__text {
        font-size: 1.6rem;
        padding: 0 3rem 0 3rem; } }

.footer {
  height: 30rem;
  background-color: var(--color-footer);
  clip-path: polygon(100% 0, 0 15%, 0 100%, 100% 100%); }
  @media only screen and (max-width: 39.375em) {
    .footer {
      height: 24rem;
      clip-path: polygon(100% 20%, 0 27%, 0 100%, 100% 100%);
      margin-top: -10rem; } }
  .footer__contact {
    text-transform: uppercase;
    padding-top: 4.5em;
    font-size: 2.2rem;
    text-align: center;
    color: var(--color-footer-text); }
    @media only screen and (max-width: 39.375em) {
      .footer__contact {
        font-size: 1.6rem;
        padding-top: 10rem; } }
    .footer__contact-icon {
      width: 5.5rem;
      transition: filter 0.2s;
      display: inline-block; }
      @media only screen and (max-width: 39.375em) {
        .footer__contact-icon {
          width: 3.5rem; } }
    .footer__contact-icon:hover {
      filter: invert(100%); }
  .footer__contact::after {
    content: "";
    display: block;
    width: 15%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.75rem;
    border-bottom: 0.5px solid var(--color-copyright); }
    @media only screen and (max-width: 72.375em) {
      .footer__contact::after {
        width: 20%; } }
    @media only screen and (max-width: 57.5em) {
      .footer__contact::after {
        width: 25%; } }
    @media only screen and (max-width: 48em) {
      .footer__contact::after {
        width: 30%; } }
    @media only screen and (max-width: 39.375em) {
      .footer__contact::after {
        width: 40%; } }
  .footer__copyright {
    text-transform: uppercase;
    padding-top: 4.5em;
    font-size: 1.2rem;
    text-align: center;
    color: var(--color-copyright); }
    @media only screen and (max-width: 39.375em) {
      .footer__copyright {
        font-size: 0.7rem; } }

@media only screen and (max-width: 48em) {
  .body {
    background-color: var(--color-header); } }

.form {
  text-align: center; }
  .form__wrapper {
    max-width: 100rem;
    margin: 8rem auto;
    padding: 5rem;
    background-color: var(--color-header);
    clip-path: polygon(0 7%, 100% 0, 100% 93%, 0% 100%); }
    @media only screen and (max-width: 72.375em) {
      .form__wrapper {
        max-width: 90rem; } }
    @media only screen and (max-width: 57.5em) {
      .form__wrapper {
        max-width: 70rem; } }
    @media only screen and (max-width: 48em) {
      .form__wrapper {
        padding-top: 0rem;
        margin: 0rem auto;
        clip-path: none; } }
  .form__title {
    text-transform: uppercase;
    text-align: center;
    font-size: 3rem;
    margin: 4rem 0 4rem; }
    @media only screen and (max-width: 48em) {
      .form__title {
        font-size: 3rem; } }
    @media only screen and (max-width: 39.375em) {
      .form__title {
        font-size: 2rem; } }
  .form__group {
    margin-bottom: 0.5rem; }
  .form__input {
    text-align: center;
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    padding: 1rem 2rem;
    border-radius: 2px;
    background-color: #fff;
    border: none;
    border-bottom: 3px solid transparent;
    width: 65%;
    margin-bottom: 2rem; }
    @media only screen and (max-width: 48em) {
      .form__input {
        font-size: 1.2rem;
        width: 80%; } }
    @media only screen and (max-width: 39.375em) {
      .form__input {
        width: 100%; } }
    .form__input:focus {
      outline: none;
      box-shadow: 0 1rem 2rem var(--color-shadow);
      border-bottom: 3px solid var(--color-indicator-clear); }
    .form__input:focus:invalid {
      border-bottom: 3px solid var(--color-indicator-caution); }
    .form__input::-webkit-input-placeholder {
      color: var(--color-shadow); }
  .form__btn {
    display: inline-block;
    margin: 0 auto;
    border: none;
    background: none;
    color: var(--color-text-icons);
    font-family: inherit;
    text-transform: uppercase;
    font-size: 1.7rem;
    margin-bottom: 4rem;
    transition: filter 0.2s;
    cursor: pointer; }
    .form__btn:hover {
      filter: invert(100%); }
    @media only screen and (max-width: 48em) {
      .form__btn {
        font-size: 1.4rem; } }
