.header {
    font-family: 'Amatic SC', cursive;
    height: 9rem;
    background-color: var(--color-header);
    z-index: 100;

    position: fixed;
    width: 100%;
    top: 0;

    display: flex;
    justify-content: space-between;

    &__toggle {
        margin-top: 3rem;
    }

    &__title {
        //color: var(--color-secondary-text);
        text-transform: uppercase;
        font-size: 5rem;
        padding: .8rem 7rem;
        font-weight: 700;
        cursor: pointer;

        @media only screen and (max-width: $bp-small) {
            font-size: 3.6rem;
            padding-left: 1rem;
            padding-right: 1.5rem;
        }
    }

    &__social {
        list-style: none;
        display: flex;

        &-item {
            padding: 3rem 2rem;
            transition: filter 0.2s;

            @media only screen and (max-width: $bp-small) {
                padding: 3rem 1rem;
            }
        }

        &-item:hover {
            filter: invert(100%);
        }

        &-icon {
            height: 3rem;
            fill: var(--color-text-icons);

            @media only screen and (max-width: $bp-small) {
                height: 1.5rem;
            }
        }
    }
}