.header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  height: 9rem;
  font-family: "Amatic SC", cursive;
  background-color: var(--color-header);

  z-index: 100;

  &__toggle {
    position: fixed;
    margin-top: 4rem;
    margin-left: 22rem;

    @media only screen and (min-width: $bp-xxl) {
      margin-left: 42rem;
    }

    @media only screen and (max-width: $bp-small) {
      margin-top: 3rem;
      margin-left: 10rem;
    }

    @media only screen and (max-width: $bp-xs) {
      margin-top: 3rem;
      margin-left: 7rem;
    }
  }

  &__title {
    text-transform: uppercase;
    font-size: 5rem;
    padding: 0.8rem 0 0.8rem 7rem;
    font-weight: 700;
    cursor: pointer;

    @media only screen and (min-width: $bp-xxl) {
      padding-left: 27rem;
    }

    @media only screen and (max-width: $bp-small) {
      font-size: 3.6rem;
      padding-left: 1rem;
      padding-right: 1.5rem;
    }

    @media only screen and (max-width: $bp-xs) {
      margin-top: 0.6rem;
      font-size: 2.6rem;
    }
  }

  &__social {
    list-style: none;
    display: flex;
    padding-right: 7rem;

    @media only screen and (min-width: $bp-xxl) {
      padding-right: 27rem;
    }

    @media only screen and (max-width: $bp-medium) {
      padding-right: 1rem;
    }

    &-item {
      padding: 3rem 1.3rem;
      // transition: filter 0.2s;

      @media only screen and (max-width: $bp-medium) {
        padding: 3rem 0.8rem;
      }

      @media only screen and (max-width: $bp-small) {
        padding: 3rem 0.5rem;
      }
    }

    // &-item:hover {
    //   filter: invert(100%);
    // }

    &-icon {
      cursor: pointer;
      height: 3rem;
      fill: var(--color-text-icons);
      transition: filter 0.2s;

      @media only screen and (max-width: $bp-medium) {
        height: 2.5rem;
      }

      @media only screen and (max-width: $bp-small) {
        height: 1.3rem;
      }
    }

    &-icon:hover {
      filter: invert(100%);
    }
  }
}
