.hero {
    background-image: url('../images/background.jpeg');
    background-color: var(--color-primary-img-overlay);
    background-blend-mode: multiply;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 65.4rem;
    margin-top: 8.5rem;

    position: sticky;

    @media only screen and (max-width: $bp-small) {
        background-size: 30.9rem;
    }

    // @media screen and (max-device-aspect-ratio: 8/5) {
    //     background-size: 68.9rem;
    // }
    
    &__image {
        height: 64.9rem;
    }

    @media only screen and (max-width: $bp-small) {
        height: 30.5rem;
    }

    // @media screen and (max-device-aspect-ratio: 8/5) {
    //     height: 68.5rem;
    // }
}